.document-ocr-inline-elements {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  gap: 21px;
}

.document-ocr-inline-item .form-item {
  margin-top: 5px;
  margin-bottom: 15px;
}

.document-ocr-inline-item select {
  max-width: 175px;
}

.document-ocr-inline-item input.machine-name-source {
  max-width: 100%;
}

.document-ocr-inline-item .form-item--credentials input,
.document-ocr-inline-item .form-item--credentials-ne input {
  max-width: 375px;
}

.document-ocr-processor-form .form-item__description,
.document-ocr-transformer-form .form-item__description {
  max-width: 100%;
}

.document-ocr-inline-item.two-textfield input {
  max-width: 275px;
}

.document-ocr-processor-google-document-ai .document-ocr-inline-item select {
  max-width: 360px;
}

.document-ocr-onetime-new-form .document-ocr-inline-item {
  margin-top: 20px;
}

.document-ocr-onetime-new-form .document-ocr-inline-item select {
  width: 176px;
}

.document-ocr-processor-pdf-parser select,
.document-ocr-processor-pdf-parser .form-item input {
  width: 100%;
}

.form-item--processor select,
.document-ocr-transformer-microsoft-translate select,
.document-ocr-transformer-google-translate select,
.document-ocr-processor-tesseract-ocr select {
  width: 100%;
  max-width: 100%;
}

.document-ocr-processor-pdf-parser .document-ocr-inline-item,
.document-ocr-processor-openai-audio .document-ocr-inline-item,
.document-ocr-processor-tesseract-ocr .document-ocr-inline-item {
  width: 50%;
}

.document-ocr-onetime-new-form .form-item--credentials {
  width: 100%;
}

.document-ocr-transformer-google-text2speech .document-ocr-inline-item select,
.document-ocr-transformer-openai-completions .document-ocr-inline-item select,
.document-ocr-transformer-openai-edits .document-ocr-inline-item select,
.document-ocr-processor-openai-audio .document-ocr-inline-item select {
  max-width: 100%;
}

.document-ocr-transformer-basic fieldset {
  margin-bottom: 0px;
}

.form-item--processor {
  margin-top: 0px;
}

/** Progress bar **/
.document-ocr-progressbar-wrapper {
  width: 70%;
  margin: 10px auto 20px;
}

.document-ocr-progressbar {
  counter-reset: step;
  display: flex;
}

.document-ocr-progressbar li {
  list-style: none;
  display: inline-block;
  flex: 1;
  position: relative;
  text-align: center;
  font-size: 0.79rem;
}

.document-ocr-progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height : 30px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.document-ocr-progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : 0;
}

.document-ocr-progressbar li:first-child:after {
  content: none;
}

.document-ocr-progressbar li.active {
  color: #3275e0;
}

.document-ocr-progressbar li.active:before {
  border-color: #3275e0;
}

.document-ocr-progressbar li.active + li:after {
  background-color: #3275e0;
}

/** Button spinner **/
.document-ocr-hide-text,
.document-ocr-in-progress {
  color: transparent !important;
}

.document-ocr-button-wrapper {
  position: relative;
}

.document-ocr-in-progress:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: document-ocr-loading-spinner 1s ease infinite;
}

@keyframes document-ocr-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
