{{ form.progressbar }}
{{ form.label }}
{{ form.id }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.bundle_info }}</div>
  <div class="document-ocr-inline-item">{{ form.fields_container }}</div>
  <div class="document-ocr-inline-item">{{ form.destination_bundle }}</div>
</div>

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.processor }}</div>
  <div class="document-ocr-inline-item">{{ form.template_file_wrapper }}</div>
</div>

{{ form|without('label', 'id', 'progressbar', 'bundle_info', 'fields_container', 'destination_bundle', 'processor', 'template_file_wrapper') }}
