{% if is_visible %}
<div class="document-ocr-progressbar-wrapper">
  <ul class="document-ocr-progressbar">
    {% for route, title in steps %}
    <li{% if current_route_name == route %} class="active"{% endif %}>{{ title|t }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
