{{ form.progressbar }}
{{ form.project_id }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.location_name }}</div>
  <div class="document-ocr-inline-item">{{ form.processors_container }}</div>
</div>

{{ form|without('progressbar', 'project_id', 'location_name', 'processors_container') }}
