{{ form.progressbar }}
{{ form.trim }}
{{ form.manipulation }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item two-textfield">{{ form.regex_pattern }}</div>
  <div class="document-ocr-inline-item two-textfield">{{ form.regex_replace }}</div>
</div>

{{ form.regex }}
{{ form.str }}

{{ form|without('progressbar', 'trim', 'manipulation', 'regex_pattern', 'regex_replace', 'regex', 'str') }}
