{{ form.progressbar }}
{{ form.project_id }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.language }}</div>
  <div class="document-ocr-inline-item">{{ form.voice_name }}</div>
</div>

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.speed }}</div>
  <div class="document-ocr-inline-item">{{ form.pitch }}</div>
</div>

{{ form|without('progressbar', 'project_id', 'language', 'voice_type', 'voice_name', 'speed', 'pitch') }}
