{{ form.progressbar }}
{{ form.label }}
{{ form.id }}
{{ form.description }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.transformer }}</div>
  <div class="document-ocr-inline-item">{{ form.credentials }}</div>
</div>

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item form-item__description">{{ form.description_container }}</div>
</div>

{{ form|without('label', 'id', 'progressbar', 'description', 'transformer', 'credentials', 'description_container') }}
