{{ form.label }}
{{ form.id }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.bundle_info_ne }}</div>
  <div class="document-ocr-inline-item">{{ form.fields_container_ne }}</div>
  <div class="document-ocr-inline-item">{{ form.destination_bundle_ne }}</div>
</div>

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.processor }}</div>
</div>

{{ form|without('label', 'id', 'bundle_info_ne', 'fields_container_ne', 'destination_bundle_ne', 'processor') }}
