{{ form.progressbar }}

{{ form.user_patterns }}
{{ form.user_words }}

<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item two-textfield">{{ form.dpi }}</div>
  <div class="document-ocr-inline-item two-textfield">{{ form.psm }}</div>
</div>
<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.oem }}</div>
  <div class="document-ocr-inline-item">{{ form.lang }}</div>
</div>

{{ form|without('progressbar', 'lang', 'psm', 'oem', 'dpi', 'user_patterns', 'user_words') }}
