{{ form.progressbar }}

<br/>
<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item two-textfield">{{ form.decode_memory_limit }}</div>
  <div class="document-ocr-inline-item two-textfield">{{ form.font_space_limit }}</div>
</div>
<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item two-textfield">{{ form.pdf_whitespaces }}</div>
  <div class="document-ocr-inline-item two-textfield">{{ form.pdf_whitespaces_regex }}</div>
</div>

{{ form|without('progressbar', 'decode_memory_limit', 'font_space_limit', 'pdf_whitespaces', 'pdf_whitespaces_regex') }}
