<div class="document-ocr-inline-elements">
  <div class="document-ocr-inline-item">{{ form.processor }}</div>
  <div class="document-ocr-inline-item">{{ form.destination_bundle }}</div>
  <div class="document-ocr-inline-item">{{ form.fields_container }}</div>
</div>

{{ form|without('destination_bundle', 'fields_container', 'processor') }}
